/*@import('config.css');*/

/*Header*/
/*#search {
  display: inline-block;
  width: 1000px;
  height: 52px;
  background-color: #4a4a4a;
  margin: auto 0;
}

.navbar-default {
    background-color: #000000;
    border-color: none;*/
/*}*/

/*Footer*/
/*footer {
  width: 100%;
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}*/

